**/.bin/
**/.obj/
**/bin/
**/obj/
**/.git/
**/.vs/
**/.vscode/
**/.gitattributes
**/.gitignore
**/*.user
**/*.userosscache
**/*.sln.docstates
**/.TestResults/
**/TestResults/
**/TestResult/
**/artifacts/
**/coverage/
**/packages/
**/logs/
**/temp/
**/tmp/
*.log
